<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Step Two: Additional Information</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Optional CSS for styling the form */
        .container {
            max-width: 800px;
            margin-top: 50px;
        }
        .card {
            margin-bottom: 20px;
        }
    </style>
</head>

<body class="container">
<div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 20px">
    <div class="progress-bar" style="width: 50%">50%</div>
</div>
<h1>Step Two: Choose how to create a petition</h1>
<form action="/step-two" method="post">

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Create a petition from scratch</h5>
                    <p class="card-text">Do you know exactly what you want to say? Then compose the text of the petition yourself.</p>
                    <input type="hidden" name="selectedOption" value="Create a petition from scratch">
                    <button type="submit" class="btn btn-primary">Select</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Create a draft petition</h5>
                    <p class="card-text">Create the text of the petition using artificial intelligence OpenAI and make the necessary changes to it.</p>
                    <input type="hidden" name="selectedOption" value="Create a draft petition">
                    <button type="submit" class="btn btn-primary">Select</button>
                </div>
            </div>
        </div>
    </div>
</form>


<div style="margin-top: 20px;">
    <a th:href="@{/}" class="btn btn-secondary">Back</a>
</div>

</body>
</html>